body {
  background-color: rgba(245, 245, 245, 0.75);
  font-family: 'Raleway', sans-serif;
  color: rgb(52, 52, 52);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 400%;
  text-shadow: rgba(115, 111, 111, 0.55) 0px 0px 4px;
}

.settings {
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.main-display {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.display-text {
  font-size: 200%;
}

.display-remaining-time {
  font-size: 400%;
}

button {
  cursor: pointer;
  color: rgba(10,10,10, 0.7);
  font-size: large;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0,0,0,0);
  border: none;
}
button:active {
  color: rgba(10,10,10,1);
  font-weight:bolder;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.55; 
  cursor: not-allowed;
}
button.reset, button.pause {
  font-weight: bolder;
  color: red;
  border: 3px inset orange;
  border-radius: 50%;
}

button.break-time, button.session-time {
  margin: 1px;
  border-bottom: 2px solid grey;
  border-radius: 40%;
}

.display {
  cursor: pointer;
  transition: all 0.3s;
  color: #333333;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 5px solid rgba(87, 224, 118, 0.98);
  background: linear-gradient(rgba(205, 220, 57, 0.9) 100%, rgba(255, 87, 34, 0.9) 100%, rgba(255, 87, 34, 0.9));
  text-transform: capitalize;
}

.period-ending {
  border: 5px solid red;
}

.footer {
  margin-top: 3rem;
}