html {
  height: 100%;
}

body {
  background-color: rgba(245, 245, 245, 0.75);
  font-family: 'Raleway', sans-serif;
  color: rgb(52, 52, 52);
  width: 60%;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: large;
  text-shadow: rgba(115, 111, 111, 0.55) 0px 0px 4px;
}

.settings {
  height: 10rem;
}

.break {
  float: left;
  margin: 2rem;
}

.session {
  float: right;
  margin: 2rem;
}

.reset {
  float:right;
  margin-top: -2rem;
  margin-right:20%;
}

button {
  color: rgba(10,10,10, 0.7);
  font-size: large;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0,0,0,0);
  border: none;
}
button:active {
  color: rgba(10,10,10,1);
  font-weight:bolder;
}
button:focus {
  outline: none;
}
button.reset {
  color: red;
  border: 3px solid red;
  border-radius: 50%;
}

.display {
  transition: all 0.3s;
  color: #333333;
  width: 18rem;
  height: 18rem;
  margin: auto;
  border-radius: 50%;
  border: 5px solid rgba(87, 224, 118, 0.98);
  background: linear-gradient(rgba(205, 220, 57, 0.9) 100%, rgba(255, 87, 34, 0.9) 100%, rgba(255, 87, 34, 0.9));
}

.footer {
  margin-top: 2rem;
}